.about {
  width: 100%;
  max-width: 1720px;

  display: flex;
  align-items: center;
  gap: 28px;

  margin: 18px auto 0;

  .about__left {
    width: calc(40% - 14px);

    display: flex;
    align-items: center;
    gap: 18px;

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }

    .about__images-left {
      display: flex;
      flex-direction: column;
      gap: 18px;

      img {
        aspect-ratio: 5/3;
      }
    }
  }

  .about__right {
    width: calc(60% - 14px);

    h2 {
      font-size: 34px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: #b90000;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 1080px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .about__left,
    .about__right {
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  }
}
