.banner {
  width: 100%;
  max-width: 1720px;
  height: 65svh;
  min-height: 360px;
  max-height: 680px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2px;

  margin: 0 auto;

  .banner__left {
    h2 {
      font-size: 36px;
      white-space: nowrap;
    }

    .banner__buttons {
      display: flex;
      align-items: center;
      gap: 13px;

      .banner__button {
        padding: 14px 26px;

        background: linear-gradient(
          135deg,
          rgb(122, 28, 0) 0%,
          rgb(207, 46, 46) 100%
        );
        border-radius: 10px;

        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        white-space: nowrap;

        transition: all 0.2s ease;

        &:hover {
          background: linear-gradient(
            135deg,
            rgb(207, 46, 46) 0%,
            rgb(122, 28, 0) 100%
          );
        }

        &--white {
          padding: 12px 20px;

          background: #ffffff;
          border: 2px solid transparent;
          color: rgb(122, 28, 0);

          &:hover {
            background: transparent;
            border: 2px solid #ffffff;
            color: #ffffff;
          }
        }

        &--black {
          padding: 12px 20px;

          background: transparent;
          border: 2px solid #ffffff;

          &:hover {
            background: #ffffff;
            color: rgb(122, 28, 0);
          }
        }
      }
    }
  }

  img {
    animation: pulse-red 3.3s ease-in-out infinite;

    will-change: filter;
  }

  &::after {
    content: "";
    position: absolute;
    top: -70px;

    width: 100%;
    height: calc(100% + 68px);

    background-size: 100% 100%;
    background-image: url("/images/banner-back.png");

    z-index: -1;
  }
}

@media screen and (max-width: 1080px) {
  .banner {
    height: auto;
    flex-direction: column;
    text-align: center;

    .banner__left {
      order: 1;

      h2 {
        font-size: 26px;
      }

      .banner__buttons {
        flex-direction: column;
        gap: 12px;

        .banner__button {
          width: calc(100% - 56px);
        }
      }
    }

    img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }

    &::after {
      height: calc(60% + 68px);
    }
  }
}

@keyframes pulse-red {
  0% {
    filter: drop-shadow(0 0 1.5px rgb(185, 0, 0));
  }
  50% {
    filter: drop-shadow(0 0 10px rgb(185, 0, 0));
  }
  100% {
    filter: drop-shadow(0 0 1.5px rgb(185, 0, 0));
  }
}
